<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

<!-- Custom Top JS -->
<a id="rocket" href="{{ "#top" | prepend: site.baseurl }}" class=""></a>
<script type="text/javascript" src="{{ "/js/totop.js?v=1.0.0" | prepend: site.baseurl }}" async=""></script>
<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
